@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mohave:ital@1&family=Nunito:wght@200&family=Playpen+Sans:wght@200;400;500&display=swap');

.App {
	max-width: 1200px;
	margin: 0 auto;

	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 50px 1fr;
	gap: 5px;
}

.App .appContent {
	font-family: 'Nunito';
	background: #ebeff5;
	padding: 20px;
	font-size: 20px;
}
